<div class="jumbotron text-center">
    <!-- Users must be signed in to create pins -->
    <% if user_signed_in? %>     
        <h3>Hello, <%= current_user.name %>.</h3> 
        <br>
        <p><%= link_to 'Add WiFi Spot', new_spot_path, class: "btn btn-primary btn-lg" %></p>
    <!-- Otherwise... -->
    <% else %>
        <h1>Welcome to RI WiFi.</h1>
        <br>
        <p><%= link_to "LOG IN", user_session_path, class: "btn btn-default btn-lg" %> 
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    <% end %>
</div>